# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Mac
.DS_Store

# bin
bin

# releases 
release

# Test binary, built with `go test -c`
*.test
test/
my-app
my-http-app
my-grpc-app
my-cli-app

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Dependency directories (remove the comment below to include it)
vendor/





