SERVICE_NAME    ?={{.Meta.Name}}
RELEASE_VERSION ?=v0.1.1
OWNER_NAME      ?={{.Meta.Owner}}

.PHONY: all
all: help

.PHONY: tidy
tidy: ## Updates the go modules and vendors all dependencies 
	go mod tidy
	go mod vendor

.PHONY: test
test: tidy ## Tests the entire project 
	go test -count=1 -race ./...

.PHONY: run
run: tidy ## Runs un-compiled code in Dapr
	dapr run \
		--app-id $(SERVICE_NAME) \
		--app-port {{.Meta.Port}} \
		{{- if eq .Meta.Type "HTTP"}}
		--app-protocol http \
		{{- else if eq .Meta.Type "GRPC"}}
		--app-protocol grpc \
		{{- end}}
		--dapr-http-port 3500 \
		--components-path ./config \
		go run main.go

.PHONY: build
build: tidy ## Builds local release binary
	CGO_ENABLED=0 go build -a -tags netgo -mod vendor -o bin/$(SERVICE_NAME) .

{{range $i, $v := .PubSubs}}
.PHONY: event{{$v.Name}}
event{{$v.Name}}: ## Publishes sample JSON message to Dapr pubsub API 
	curl -d '{ "from": "John", "to": "Lary", "message": "hi" }' \
     -H "Content-type: application/json" \
     "http://localhost:3500/v1.0/publish/{{$v.Name}}/{{$v.Topic}}"
{{end}}

.PHONY: image
image: tidy ## Builds and publish docker image 
	docker build -t "$(OWNER_NAME)/$(SERVICE_NAME):$(RELEASE_VERSION)" .
	docker push "$(OWNER_NAME)/$(SERVICE_NAME):$(RELEASE_VERSION)"

.PHONY: lint
lint: ## Lints the entire project 
	golangci-lint run --timeout=3m

.PHONY: tag
tag: ## Creates release tag 
	git tag $(RELEASE_VERSION)
	git push origin $(RELEASE_VERSION)

.PHONY: clean
clean: ## Cleans up generated files 
	go clean
	rm -fr ./bin
	rm -fr ./vendor

.PHONY: help
help: ## Display available commands
	@grep -E '^[a-zA-Z_-]+:.*?## .*$$' $(MAKEFILE_LIST) | awk \
		'BEGIN {FS = ":.*?## "}; {printf "\033[36m%-30s\033[0m %s\n", $$1, $$2}'