apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: {{.Name}}
spec:
  type: state.postgresql
  metadata:
  - name: connectionString
    value: "<CONNECTION STRING>"
  - name: actorStateStore
    value: "true"